<div class="nav-user-search">
  <label class="nav-user-search-label" for="search-box">Find user</label>
  <input
    #searchBox
    id="search-box"
    type="search"
    class="nav-user-search-input"
    placeholder="Name…"
    autocomplete="off"
    (focus)="searchShow()"
    (input)="search(searchBox.value)"
  />
  <ul *ngIf="show" class="nav-user-search-results">
    <li *ngFor="let user of users$ | async">
      <a (click)="searchToggle()" [routerLink]="['/detail/', user.id]">{{ user.name }}</a>
    </li>
  </ul>
</div>
